body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

header {
    /*background-image: url("../images/header-background.png");*/
    background-size: 100% 100%;
    min-height: 260px;
}

.game-container {
    min-height: 600px;
    background-image: url("../images/main-background.png");
    background-repeat: no-repeat;
    background-position: center; 
}

.space {
    padding: 20px 30px;
}