html {
  box-sizing:border-box;
}
*,
*:after,
*:before{
  box-sizing:inherit;
}

body {
    background-image: url("../images/background-1.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    font-size: 17px;
}

.container {
    width: 1100px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.92);
    box-shadow: 0 0 20px #000;
}

header {
    background-image: url("../images/header-background.png");
    background-size: 100% 100%;
    min-height: 260px;
    border-radius: 20px;
}

nav.main-navigation {
  width: 100%;
  margin-top: 20px;
}

nav.main-navigation ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav.main-navigation ul li {
  flex: 1 0 0;
}

nav.main-navigation ul li a {
  display: block;
  text-decoration: none;
  color: blue;
  margin-right: 2px;
}

nav.main-navigation ul a:link, nav.main-navigation ul a:visited{
  text-align: center;
  padding: 20px 10px;
  background-color: rgba(25, 51, 91, 0.8);
  border-radius: 6px;
  box-shadow: inset 0 0 1px #000;
  font-size: 1.4em;
  text-shadow: -1px 0 #000,0 1px #000,1px 0 #000,0 -1px #000;
  color: #fff;
}

nav.main-navigation ul a:hover, nav.main-navigation ul a:active {
  background-color: #8484bd;
}

nav.main-navigation span {
    padding: 10px;
}

.game-container {
    min-height: 600px;
    background-image: url("../images/main-background.png");
    background-repeat: no-repeat;
    background-position: center; 
}

.space {
    padding: 20px 30px;
}

.alert {
    padding: 20px;
    font-style: italic;
    color: white;
     opacity: 0.83;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}

.alert-success {
  background-color: #4CAF50;
}

.alert-info {
    background-color: #2196F3;
}

.alert-warning {
  background-color: #ff9800;
}

.alert-danger {
  background-color: #f44336;
}